/* stargirl stylesheet.css */
*{box-sizing: border-box;
}
p{
    font-family: space-mono, monospace;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    background-color: #edeae3;
    height: max-content;
    color:#28282b;
}
h1{
    font-family: forma-djr-banner, sans-serif;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    color: #28282b;
    font-size: 5.5rem;
}
h2{
    font-family: forma-djr-display, sans-serif;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    color: #00a36c;
    font-size: 2.8rem;
}
/*heading style*/
.h1 {
    grid-area: h1;
    background-color: #edeae3;
    padding: 30px;
    text-align: center;
    font-size: x-large;
}

/*grid container*/
.grid-container {
    text-align: center;
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer';
}

/*left column style*/
.left{
    grid-area: left;
}

/*middle column style*/
.middle {
    grid-area: middle;
}

/*right column style*/
.right {
    grid-area: right;
}

/*footer style*/
.footer {
    grid-area: footer;
    background-color: #0b51b5;
    padding: 10px;
    text-align: center;
}

/*resposive layout - stacks columns on top of eachother*/
@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
        'header header header header header header'
        'left left left left left left'
        'middle middle middle middle middle middle'
        'right right right right right right'
        'footer footer footer footer footer footer';
    }
}